@model List<DatingSite.Models.ViewModels.MatchResultForListViewModel>
@using Microsoft.AspNet.Identity
@using DatingSite.Models
@using System.Linq;

@{
    ViewBag.Title = "MyMatches";
}

<h2>MyMatches</h2>

@if (Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <a class="card-link" href="/Profile/Details/@item.MatchedUserId">
                <li href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.MatchedUserFullName</h5>
                    </div>
                    <p class="mb-1">@item.MatchedUserDescription</p>
                    <small class="text-muted">@item.MatchedUserEmail</small>
                </li>
            </a>
        }
    </ul>
}
else
{
    <div class="alert alert-dismissible alert-light">
        There is no user that matches your search input.
    </div>
}
