

@using System.Collections.Generic;
@using DatingSite.Models;
@using System;

@model List<DatingSite.Models.ApplicationUser>

@{
    ViewBag.Title = "SearchResult";
}


@if (Model.Any())
{
    <h2>Search Result</h2>
    <ul>
        @foreach (var item in Model)
         {
            <a class="card-link" href="/Profile/Details/@item.Id">
                <li href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@String.Concat(item.FirstName, " ", item.LastName)</h5>
                    </div>
                    <p class="mb-1">@item.Description</p>
                    <small class="text-muted">@item.Email</small>
                </li>
            </a>
         }
</ul>
}
else
{
    <h2>Search Result</h2>
    <div class="alert alert-dismissible alert-light">
        There is no user that matches your search input.
    </div>
}


